@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

input,
textarea,
select {
    background-color: rgb(229, 245, 245);
    font-family: 'Koulen';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Koulen';
    font-size: 16px;
    margin: auto;
    padding: auto;
    background-size: cover;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #384350 0%, #090A0F 100%);
    overflow: auto;

}

button {
    background-color: rgb(216, 210, 210);
    box-shadow: 1px 2px .9em rgb(125, 99, 155), -0.3em -1px .9em rgb(233, 148, 229);
    font-family: 'Koulen';
    font-size: 16px;
    margin: 0;
    padding: 5px;
}

main {
    padding-bottom: 80px;
}

.login-form,
.signup-form {
    background-color: rgb(97, 116, 116);
    border-radius: 3px;
    box-shadow: 3px 3px .9em rgb(125, 99, 155), -.3em 3px .9em rgb(125, 99, 155);
    margin: auto;
    max-width: 400px;
    padding: 2em;
}

footer {
    padding-top: 20px;
    margin-top: 20px, 30%;
    box-sizing: 10px;
    position: fixed;
    padding: 10px 10px 0px 10px;
    border-top: 3px solid rgb(125, 99, 155);
    bottom: 0;
    width: 100%;
    height: 36px;
    background: rgb(97, 116, 116);
}

header nav ul {
    background-color: rgb(97, 116, 116);
    border-bottom: 3px solid rgb(125, 99, 155);
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
}

header nav ul li {
    text-shadow: rgb(27, 34, 34);
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}

header nav ul li a {
    font-weight: bold;
    text-decoration: none;
}

input {
    background-color: rgb(229, 245, 245);
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}

a {
    color: rgb(27, 34, 34)
}

p {
    color: rgb(27, 34, 34);
    border-bottom: 1.2mm ridge rgb(125, 99, 155);
}

select {
    height: 2.5em;
}

select[multiple] {
    height: 7.5em;
}

textarea {
    background-color: rgb(229, 245, 245);
    margin: 0;
    padding: .25em .5em;
}

table {
    width: 100%;
}

.helptext {
    display: block;
    font-size: 80%;
}

.task-form,
.project-form {
    background-color: rgb(97, 116, 116);
    border-radius: 4px;
    box-shadow: 3px 3px .9em rgb(233, 148, 229), -.3em 3px .9em rgb(125, 99, 155);
    margin: auto;
    max-width: 600px;
    padding: 2em;
}

.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1,
.task-detail h1 {
    margin-top: 0;
}

.project-detail h2 {
    margin-top: 2em;
}

.task-form p,
.login-form p,
.signup-form p,
.project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}

.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
}

.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
    padding: 0.25em 1em;
}

.my-tasks-list,
.project-list,
.project-detail,
.task-detail {
    background-color: rgb(97, 116, 116);
    border-radius: 4px;
    box-shadow: 3px -2px .9em rgb(233, 148, 229), -.3em 3px .9em rgb(125, 99, 155);
    margin: auto;
    max-width: 800px;
    padding: 2em;
}

.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td,
.task-detail th,
.task-detail td {
    padding: .5em;
}

.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 2px solid rgb(125, 99, 155);
}

.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}

.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
    border-bottom: 2px solid rgb(125, 99, 155);
}

