{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Projects and tasks</title>
        <link rel="stylesheet" href="{% static 'css/static.css' %}">
    </head>
    <body class="stars">
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        {% block chart %}
        {% endblock chart %}
        <footer>
            <div>This website created and designed by Adrian (Bun)</div>
            <div>About Me</div>
        </footer>
    </body>
</html>
