{% extends 'base.html' %}
{% block content %}
    <main>
        {% comment %} <div class="task-form"></div> {% endcomment %}
        <form method="post" class="task-detail">
            {% csrf_token %}
            <p>
                Do you really want to delete "{{ task }}"?
            </p>
            {{ form.as_p }}
            <button class="button">Delete</button>
        </form>
    </main>
{% endblock content %}
