{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
    <main>
        <div class="task-detail">
            <h1>{{ task.name }}</h1>
            {{ task.notes|markdownify }}
            <a href="{% url 'task_delete' task.pk %}">Delete Task?</a>
            |
            <a href="{% url 'task_update' task.pk %}">Update Task Notes?</a>
        </div>
    </main>
{% endblock content %}
