{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            {% if project_list|length == 0 %}
                <p>
                    You are not assigned to any projects
                </p>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </thead>
                    <tbody>
                        {% for projects in project_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' projects.pk %}">{{ projects.name }}</a>
                                </td>
                                <td>{{ projects.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
